<!DOCTYPE html>
<html>
    
<head>
     
    <title> 
Authorization | InnoLibrary</title>

    <!-- Bootstrap -->
    <link href = "bootsrtap/css/bootstrap.css" rel="stylesheet">
    

</head>
<body>

<div class = "container" style = "margin-top:240px;">
    <form method="get" class="">
        <input type="text" class = "input-small" placeholder="E-mail" value = "">
        
        <br>
    
    
        <input type="text" class = "input-small" placeholder="Password" value="">
    <div class ="checkbox">
        <input type = "checkbox" name = "remember">
        Remember username
    </div>
    
    <button type="submit" class = "btn btn-primary">
        
    
    Sign in
    </button>
    </form>
    </div>  
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="bootsrtap/js/bootstrap.js"></script>
    </body>
</html>