<!DOCTYPE html>
<html>
<head>
    <title>
        Authorization | InnoLibrary</title>

    <!-- Bootstrap -->
    <link href = "css/bootstrap.css" rel="stylesheet">

    <link href = "css/style.css" rel = "stylesheet">
    <style>
        .well{
            margin-top: 240px;
        }
    </style>
</head>
<body>
<form action="/page.html" method="POST">
    <div class = "container">
        <div class = "row">
            <div class="col-xs-6 col-md-4">
            </div>
            <div class="col-xs-6 col-md-4 ">

                <div class = "well span4 offset4">
                    <legend>Authorization</legend>
                    <!--<div class = "alert alert-error">
                        <a class = "close" data-dismiss = "alert"
                           href="#">x
                        </a>
                        Incorrect input
                    </div>-->
                    <form method = "post" action=""accept-charset="UTF-8">
                        <input type="text" name="login" class= "span4 form-control" placeholder = "E-mail or Username">
                        <input type="password" name="password"
                               class="span4 form-control" placeholder="Password">
                        <label class = "checkbox">
                            <input type = "checkbox" name = "remember" value="1">
                            <p> Remember username</p>

                        </label>
                        <button type = "submit" name = "submit"
                                class = "btn btn-success btn-block">
                            Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src ="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.js"></script>
</form>






</body>
</html>